# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
*.classpath
*.project
.settings/
*/.settings/

# Maven
*/target/

# Git
*/.gitignore

# IDEA
.idea/
*/.idea/
*.iml
*/*.iml


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
persistence-db/.factorypath
actor/.factorypath
adaptor/.factorypath
center-data/.factorypath
core/.factorypath
launch/.factorypath
persistence-avro/.factorypath
persistence-json/.factorypath
persistence-service/.factorypath
restful-client/.factorypath
restful-service/.factorypath
simulator/.factorypath
simulator-latency/.factorypath
simulator-pingpong/.factorypath
strategy/.factorypath
